{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
{% if route_enabled %}
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Это переадресованное письмо об активации учётной записи для {{ routed_user }} ({{ routed_user_email }}): {{ routed_profile_name }}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
{% endif %}
    <tr>
        <td>
            <h1>
                Активация учётной записи
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Вы почти у цели! Перейдите по ссылке ниже, чтобы активировать учётную запись и получить доступ к курсам {{ platform_name }}. Пока вы не активируете учётную запись, повторный вход будет невозможен.
                {% endfilter %}
                <br />
            </p>

            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text="Активировать учётную запись" course_cta_url=confirm_activation_link %}
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Желаем успешного обучения на платформе {{ platform_name }}.
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                Если нужна помощь, воспользуйтесь <a href="{{ support_url|escape }}">веб-формой на сайте</a> или напишите на <a href="mailto:{{ support_email|escape }}">{{ support_email|escape }}</a>.
                <br />
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                Это письмо автоматически отправлено с сайта {{ lms_url }}, так как кто-то пытался создать учётную запись на {{ platform_name }}, указав этот адрес электронной почты.
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
