
@import 'cms/static/sass/partials/cms/theme/variables-v1';

// +Grid
// ====================
$gw-column: ($baseline*3);
$gw-gutter: $baseline;
$fg-column: $gw-column;
$fg-gutter: $gw-gutter;
$fg-max-columns: 12;
$fg-max-width: 1280px;
$fg-min-width: 900px;

// +Fonts
// ====================
$f-sans-serif: 'ProximaNova', 'Proxima Nova', Helvetica, Arial, sans-serif;
$f-monospace: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;

// +Colors - Utility
// ====================
$transparent: rgba(0, 0, 0, 0) !default; // used when color value is needed for UI width/transitions but element is transparent

// +Colors - UXPL new pattern library colors
// ====================
$uxpl-blue-hover-active: darken($primary, 7%) !default;
$uxpl-light-blue-base: $robbo-ui-primary-light !default;

$uxpl-green-base: $primary !default; // Robbo brand green (#00af41)
$uxpl-green-hover-active: lighten($uxpl-green-base, 8%) !default; // wcag2a compliant
$uxpl-green-dark-hover-active:  lighten($uxpl-green-base, 8%) !default;
