{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse;">
    <tr>
        <td>
            <h1>Сброс пароля</h1>
            <p>
                {% filter force_escape %}
                Вы получили это письмо, потому что запросили сброс пароля для учётной записи на {{ platform_name }}.
                {% endfilter %}
            </p>

            {% if failed %}
                <p>
                    {% filter force_escape %}
                    Сейчас нет учётной записи, связанной с адресом {{ email_address }}.
                    {% endfilter %}
                </p>

                <p>
                    {% filter force_escape %}
                    Если вы не запрашивали это действие, просто проигнорируйте письмо.
                    {% endfilter %}
                </p>
            {% else %}
                <p>
                    {% filter force_escape %}
                    Если вы не запрашивали сброс, можете не обращать внимания на это письмо — пароль мы ещё не меняли.
                    {% endfilter %}
                </p>
                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text="Сбросить пароль" reset_url=reset_link %}
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}
