<%page expression_filter="h"/>
<%!
# Theme designs live in designs/<id>.html; designs uploaded in Studio share _robbo-design-uploaded.html.
# The course picks one in Studio → Certificates (lms/djangoapps/robbo_certificates/designs.py).
from lms.djangoapps.robbo_certificates.designs import DESIGN_OVERRIDE_KEY, KIND_UPLOADED, get_design
%>
<% robbo_cert_design = get_design(context.get(DESIGN_OVERRIDE_KEY)) %>
% if robbo_cert_design['kind'] == KIND_UPLOADED:
<%include file="_robbo-design-uploaded.html" args="design=robbo_cert_design" />
% else:
<%include file="designs/${robbo_cert_design['id']}.html" />
% endif
