{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse;">
    <tr>
        <td>
            <h1>Создание пароля</h1>
            <p>
                {% filter force_escape %}
                Вы получили это письмо, потому что запросили создать пароль для учётной записи на {{ platform_name }}.
                {% endfilter %}
            </p>
            <p>
                {% filter force_escape %}
                Мы восстановили доступ к вашей учётной записи {{ platform_name }} с помощью резервного адреса, указанного при регистрации.
                {% endfilter %}
            </p>
            <p>
                {% filter force_escape %}
                После создания пароля (кнопка ниже) вы сможете войти на {{ platform_name }} с этим email ({{ email }}) и новым паролем.
                {% endfilter %}
            </p>
            <p>
                {% filter force_escape %}
                Если вы не запрашивали это действие, проигнорируйте письмо — пароль мы ещё не сбрасывали.
                {% endfilter %}
            </p>
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text="Создать пароль" course_cta_url=reset_link %}
        </td>
    </tr>
</table>
{% endblock %}
